/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth !important;
}

.scroll-up-btn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: crimson;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    text-align: center;
    line-height: 38px;
    z-index: 999;
    border-radius: 6px;
    cursor: pointer;
}

.scroll-up-btn i{
    font-size: 30px;
    color: white;
    margin-top: 4px ;
}

/* Navigation Bar */
.navbar{
    position:fixed;
    width: 100%;
    padding: 20px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.5s ease;
}

.navbar.sticky{
    padding: 15px 0;
    background: crimson;
    z-index: 999;
}

.full-width{
    max-width: 1400px;
    padding: 0 90px;
    margin: auto;
}

.navbar .full-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navbar .logo a{
    font-size: 40px;
    font-weight: 500;
    color: whitesmoke;
}

.navbar .logo a span{
    color: crimson;
    transition: all 0.5s ease;
}

.navbar.sticky .logo a span{
    color: whitesmoke;
}

.navbar .app-menu li{
    list-style: none;
    display: inline-block;
}

.navbar .app-menu li a{
    color: white;
    margin-left: 20px;
    font-weight: 500;
    font-size: 18px;
    transition: color 0.5s ease;
}

.navbar .app-menu li a:hover{
    color:crimson;
}

.navbar.sticky .app-menu li a:hover{
    color: white;
}

/* Menu Btn Styling */
.menu-btn{
    color: white;
    font-size: 25px;
    display: none;
}

/* Home Section Syling */
.home{
    display: flex;
    background: url(images/main-bg.jpg) no-repeat center;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    color:whitesmoke;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .full-width{
    margin: auto 0 auto 40px;
}

.home .home-content .welcome{
    font-size: 40px;
}

.home .home-content .my-name{
    font-size: 80px;
    font-weight: 600;
    margin-left: -30px;
}

.home .home-content .my-job{
    font-size: 50px;
    margin: 8px 30px;
}

.home .home-content .my-job span{
    color: crimson;
    font-weight: 500;
}

.home .home-content a{
    display: inline-block;
    background: crimson;
    color: whitesmoke;
    font-size: 25px;
    padding: 15px 35px;
    margin: 8px 30px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.home .home-content a:hover{
    color: crimson;
    background: none;
}

/* About Section Styling */
.about{
    padding: 100px 0;
}

.about h2{
    margin-bottom: 60px;
    position: relative;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 20px;
    font-family: 'Ubuntu',sans-serif;
}

.about h2::before{
    content: "";
    width: 180px;
    height: 3px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background: #111;
}

.about h2::after{
    margin-top: 10px;
    content: "who i am";
    font-weight: 450;
    color: crimson;
    bottom: -8px;
    font-size: 20px;
    background: white;
    left: 50%;
    padding: 0 5px;
    position: absolute;
    transform: translateX(-50%);
}

.about .about-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat',sans-serif;
}

.about .about-content .left{
    width: 45%;
}

.about .about-content .right{
    width: 55%;
}

.about .about-content .left img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 6px;
}

.about .about-content .right .title{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 20px;
}

.about .about-content .right .title span{
    color: crimson;
}

.about .about-content .right p{
    text-align: justify;
    line-height: 1.9em;
}

.about .about-content .right a{
    background: crimson;
    color: whitesmoke;
    font-size: 20px;
    font-weight: 500;
    padding: 15px 30px;
    border-radius: 6px;
    display: inline-block;
    border: 2px solid crimson;
    margin-top: 10px;
}

.about .about-content .right a:hover{
    background: none;
    color: crimson;
}

/* Service Section Styling */
.services{
    background: #111;
    padding: 100px 0;
}

.services h2{
    color:white;
    margin-bottom: 60px;
    position: relative;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 20px;
    font-family: 'Ubuntu',sans-serif;
}

.services h2::before{
    content: "";
    width: 180px;
    height: 3px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background: white;
}

.services h2::after{
    margin-top: 10px;
    content: "what i provide";
    font-weight: 450;
    color: crimson;
    bottom: -8px;
    font-size: 20px;
    background: #111;
    left: 50%;
    padding: 0 5px;
    position: absolute;
    transform: translateX(-50%);
}

.serivices-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.serivices-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.serivices-content .card i{
    color: crimson;
    font-size: 50px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.serivices-content .card .text{
    font-size: 25px;
    font-weight: 500;
    color: white;
    margin: 10px 0;
    font-family: 'Montserrat',sans-serif;
}

.serivices-content .card p{
    display: block;
    font-size: 18px;
    line-height: 1.6em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color:whitesmoke
}

.services .serivices-content .card:hover{
    background: crimson;
}
.services .serivices-content .card .box{
    transition: all 0.3s ease;
}
.services .serivices-content .card:hover .box{
    transform: scale(1.07);
}
.services .serivices-content .card:hover i{
    color: #fff;
}

.services .serivices-content .card .box .text{
    font-weight: 700;
    margin-top: 40px;
    font-size: 25px;
}

/* Skill Syling */
.skill {
    background: white;
    padding: 100px 0;
}

.skill h2{
    margin-bottom: 60px;
    position: relative;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 20px;
    font-family: 'Ubuntu',sans-serif;
}

.skill h2::before{
    content: "";
    width: 180px;
    height: 3px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background: #111;
}

.skill h2::after{
    margin-top: 10px;
    content: "What i can do";
    font-weight: 450;
    color: crimson;
    bottom: -8px;
    font-size: 20px;
    background: white;
    left: 50%;
    padding: 0 5px;
    position: absolute;
    transform: translateX(-50%);
}

.skill .skill-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat',sans-serif;
}

.skill .skill-content .column{
    width: calc(50% - 60px)
}

.skill .skill-content .column .tag{
    display: inline-block;
    font-size: 20px;
    border-radius: 6px;
    padding: 5px 7px;
    margin: 7px 5px;
    border-width: 2px;
    border-style: solid;
    border-color: crimson;
    transition: all 0.3s ease;
}

.skill .skill-content .column .tag:hover{
    background: crimson;
    color: white;
    transform: scale(1.1);
}
.skill .skill-content .column .bar{
    margin: 40px 0;
    font-size: 20px;
    font-weight: 500;
}

.skill .skill-content .column .bar .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skill .skill-content .column .bar .line{
    height:3px;
    margin-top: 5px;
    background: lightgray;
    position: relative;
}

.skill .skill-content .column .bar .line::before{
    content: "";
    position: absolute;
    left: 0;
    top:0;
    height: 3px;
    background: crimson;
}

.skill .skill-content .column .bar.webapp .line::before{
    width:98%;
}

.skill .skill-content .column .bar.website  .line::before{
    width:93%;
}

.skill .skill-content .column .bar.db  .line::before{
    width:85%;
}

.skill .skill-content .column .bar.ds  .line::before{
    width:80%;
}

.skill .skill-content .column .bar.react  .line::before{
    width:70%;
}

/* Samples Section */
.samples{
    background: #111;
    padding: 100px 0;
}

.samples h2{
    margin-bottom: 60px;
    position: relative;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 20px;
    font-family: 'Ubuntu',sans-serif;
    color: white;
}

.samples h2::before{
    content: "";
    width: 180px;
    height: 3px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background: white;
}

.samples h2::after{
    margin-top: 10px;
    content: "check my work";
    font-weight: 450;
    color: crimson;
    bottom: -8px;
    font-size: 20px;
    background: #111;
    left: 50%;
    padding: 0 5px;
    position: absolute;
    transform: translateX(-50%);
}

.samples .carousel  .card{
    background-color: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
    height: 400px;
}

.samples .carousel  .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    transition: all 0.3s ease;
}

.samples .carousel  .card .box .text{
    font-weight: 600;
    padding-bottom: 15px;
    border-bottom: 1px solid #444;
}

.samples .carousel  .card .box p{
    line-height: 1.5;
}

.samples .carousel  .card .box:hover{
    transform: scale(1.05);
}

.samples .carousel  .card:hover{
    background-color: crimson;
}

.samples .carousel  .card:hover img{
    border-color: white;
}

.samples .carousel  .card .text{
    font-size: 25px;
    font-weight: 550;
    margin: 10px 0px 7px 0px;
}

.samples .carousel  .card img{
    width:150px;
    height: 150px;
    object-fit: cover;
    border: 5px solid crimson;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid crimson!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: crimson!important;
}

/* Contact Section */
.contact{
    background: white;
    padding: 100px 0;
}

.contact h2{
    margin-bottom: 60px;
    position: relative;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 20px;
    font-family: 'Ubuntu',sans-serif;
    color: #111;
}

.contact h2::before{
    content: "";
    width: 180px;
    height: 3px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background: #111;
}

.contact h2::after{
    margin-top: 10px;
    content: "get in touch";
    font-weight: 450;
    color: crimson;
    bottom: -8px;
    font-size: 20px;
    background: white;
    left: 50%;
    padding: 0 5px;
    position: absolute;
    transform: translateX(-50%);
}

.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat',sans-serif;
}

.contact .contact-content{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.minicard{
    display: flex;
    height: 70px;
    align-items: center;
}

.minicard i{
    font-size: 25px;
    color: crimson;
    padding: 0 20px;
}

.minicard .info .head{
    font-size: 18px;
    font-weight: 600;
    color: #111;
    margin-bottom: 3px;
}

.minicard .info .sub{
    font-size: 14px;
    font-weight: 500;
    color: #222;
}

.minicard a{
    color: crimson;
}

footer{
    padding: 10px 0;
    background-color: #111;
    color: white;
    text-align: center;
}

footer a{
    color: crimson;
}


/* Responsive media query */
@media (max-width: 975px){
    .full-width{
        padding: 0 50px;
    }

    .menu-btn{
        display: block;
        z-index: 999;
    }

    .menu-btn i.show::before{
        content: "\f00d";
    }

    .navbar .app-menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background-color: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.5s ease;
    }

    .navbar .app-menu.show{
        left: 0;
    }

    .navbar .app-menu li{
        display: block;
    }

    .navbar .app-menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .home .home-content .welcome{
        font-size: 30px;
    }
    
    .home .home-content .my-name{
        font-size: 60px;
    }
    
    .home .home-content .my-job{
        font-size: 40px;
    }

    .home .home-content a{
        font-size: 20px;
    }
}